.login-container {
  max-width: 400px;
  margin: var(--spacing-small) auto;
  padding: var(--spacing-large);
  background-color: var(--light-secondary-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

/* Centered header styling */
.header {
  text-align: center;
  margin-bottom: var(--spacing-medium);
}

.heading {
  margin: 0;
  font-size: var(--font-size-heading);
  font-family: var(--font-primary);
  color: var(--primary-color);
}

/* Styling for the form fields */
.login-field form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
}

.login-field label {
  font-weight: 600;
  color: var(--dark-secondary-color);
}

.login-field input {
  padding: var(--spacing-small);
  border: 1px solid var(--muted-text-color);
  border-radius: var(--border-radius);
}

/* Styling for the login button */
.login-button {
  background-color: var(--primary-color);
  color: var(--light-secondary-color);
  border: none;
  padding: var(--button-padding);
  border-radius: var(--button-radius);
  cursor: pointer;
  transition: var(--transition);
}

.login-button:hover {
  background-color: var(--dark-secondary-color);
}
