/* Chat.css */
.chatbot-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
  max-height: 80vh;
  min-height: fit-content;
  margin-top: 2rem;
  margin: 6rem;
  margin-left: 19vw;
  padding: var(--spacing-medium);
  border-radius: var(--border-radius);
  background: linear-gradient(90deg, #1689cd80, #12121280);
  color: var(--muted-text-color);
  box-shadow: var(--box-shadow);
  font-family: var(--font-primary);
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
}

.chat-header {
  font-size: var(--font-size-heading);
  font-weight: bold;
  text-align: center;
  padding: var(--spacing-medium);
  background: var(--primary-color);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  color: white;
  display: none;
}

.chat-messages {
  flex-grow: 1;
  overflow-y: auto;
  max-height: 65vh;
  padding: var(--spacing-medium);
  display: flex;
  flex-direction: column;
}

.user-message, .ai-message {
  padding: var(--spacing-medium);
  margin: var(--spacing-small) 0;
  border-radius: var(--border-radius);
  max-width: 75%;
  word-wrap: break-word;
}

.user-message {
  background: #ffffff60;
  align-self: flex-end;
  color: #121212;
  text-align: right;
}

.ai-message {
  background: #12121240;
  align-self: flex-start;
  text-align: left;
}

.loading {
  align-self: flex-start;
  color: var(--muted-text-color);
  font-size: var(--font-size-small);
  font-style: italic;
  padding-left: var(--spacing-medium);
  background: #12121240;
  border-radius: 2rem;
  padding: 1rem;
}

.input-container {
  display: flex;
  align-items: center;
  padding: var(--spacing-small);
  border: none;
  border-radius: var(--border-radius);
}

.input-container input {
  flex: 1;
  padding: var(--button-padding);
  border: none;
  border-radius: var(--button-radius);
  background: #1689cd80;
  color: white;
  font-size: var(--font-size-base);
  outline: none;
}
::placeholder{
  color: white;
}
.input-container button {
  margin-left: var(--spacing-small);
  padding: var(--button-padding);
  border: none;
  background: var(--primary-color);
  color: white;
  font-size: var(--font-size-base);
  border-radius: var(--button-radius);
  cursor: pointer;
  font-weight: var(--button-font-weight);
  transition: var(--transition);
}

.input-container button:hover {
  background: #136fa1;
}

.input-container button:disabled {
  background: #7faecc;
  cursor: not-allowed;
}

