@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@500&family=Inter:wght@400;500;600&display=swap');

:root {
  /* 🎨 Color Palette */
  --primary-color: #1689cd;
  --light-secondary-color: #f0f0f0;
  --dark-secondary-color: #121212;
  --muted-text-color: #e7e7e7;

  /* 🖋 Font Families */
  --font-primary: "Inter", sans-serif; /* Main font */
  --font-secondary: "Inter Tight", sans-serif; /* Used for headings, emphasis */

  /* 🖋 Font Sizes */
  --font-size-small: 14px;
  --font-size-base: 16px;
  --font-size-large: 18px;
  --font-size-heading: 24px;
  --font-size-title: 32px;

  /* 📏 Spacing (Margin & Padding) */
  --spacing-small: .5rem;
  --spacing-medium: 1rem;
  --spacing-large: 2rem;

  /* 🖼 Borders & Shadows */
  --border-radius: 1rem;
  --box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

  /* Button */
  --button-padding: 12px 20px;
  --button-radius: 8px;
  --button-font-weight: 600;

  /* Transitions */
  --transition: all 0.5s cubic-bezier(0.23, 0.54, 0.6, 1.19);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-primary);
	font-weight: 400;
	transition: var(--transition);
	text-decoration: none;
}
/* Ensure full viewport height */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body{
  background: url("./assets/dansol_high.jpg");
  background-size: cover;
  background-position: center;
  background-repeat:repeat-y;
}

/* Flexbox container to keep navbar and footer in place */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1{
  font-size: 50px;
  font-family: var(--font-secondary);
}

p{
  font-size: 20px;
}