html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.home {
  position: relative;
  width: 100vw;
  height: 90vh;
  overflow: hidden;
}

.home::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/dansol_high.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(6px);
  z-index: -1;
}

.hero {
  text-align: center;
  padding: var(--spacing-small) 0;
}

.hero h1 {
  font-size: var(--font-size-title);
  margin: var(--spacing-large);
  font-family: var(--font-primary);
  color: var(--light-secondary-color);
}

.btn-field {
  display: flex;
  justify-content: center;
  gap: var(--spacing-medium);
  margin-top: var(--spacing-medium);
}

.btn-field button {
  background-color: var(--primary-color);
  color: var(--light-secondary-color);;
  border: none;
  padding: var(--button-padding);
  border-radius: var(--button-radius);
  font-weight: var(--button-font-weight);
  cursor: pointer;
  transition: var(--transition);
}

.btn-field button:hover {
  transform: scale(1.05);
}
