html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
  overflow: hidden;
  position: relative;
}

.login-container {
  width: 40vw;
  padding: var(--spacing-large);
  background-color: var(--light-secondary-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.home::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./assets/dansol_high.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(6px);
  z-index: -1;
}

.header {
  text-align: left;
  margin-bottom: var(--spacing-medium);
}

.heading {
  margin: 0;
  font-size: var(--font-size-heading);
  font-family: var(--font-primary);
  color: var(--primary-color);
}

/* Styling for the form fields */
.login-field form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
}

.login-field label {
  font-weight: 600;
  color: var(--dark-secondary-color);
}

.login-field input {
  padding: var(--spacing-small);
  border: 1px solid var(--muted-text-color);
  border-radius: var(--border-radius);
}

/* Styling for the login button */
.login-button {
  background-color: var(--primary-color);
  color: var(--light-secondary-color);
  border: none;
  padding: var(--button-padding);
  border-radius: var(--button-radius);
  cursor: pointer;
  transition: var(--transition);
}

.login-button:hover {
  background-color: var(--dark-secondary-color);
}
