.home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.login-container {
  width: 35vw;
  padding: 2rem;
  backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 1.5rem;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.heading {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--primary-color);
}

/* Input Field */
.input-field {
  width: 100%;
  padding: 12px;
  margin-top: 12px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
  transition: border 0.3s;
}

.input-field::placeholder {
  color: #9ca3af;
  opacity: 1;
}

.input-field:focus {
  border-color: var(--primary-color);
}

/* Google Button */
.google-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 12px;
  margin-top: 16px;
  background-color: #4285f4;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  font-weight: bold;
}

.google-button:hover {
  background-color: #357ae8;
}

/* Google Icon */
.google-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png") no-repeat center;
  background-size: contain;
  margin-right: 10px;
}

/* Error Message */
.error-message {
  margin-top: 10px;
  color: red;
  font-size: 0.9rem;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  color: var(--primary-color) !important;
  text-align: center;
  margin-bottom: 15px;
}
