.navbar {
  background-color: var(--light-secondary-color);
  color: var(--dark-secondary-color);
  display: flex;
  align-items: center;
  position: sticky;
  padding: 15px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative; /* Ensures absolute positioning inside */
}

/* Logo styling */
.logo img {
  height: 40px;
  width: auto;
}

/* Title styling */
.title {
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap; /* Prevents text from wrapping */
}
